@tailwind base;
@tailwind components;
@tailwind utilities;

section {
    max-width: 480px !important;
}
.btm-center {
    display: flex;
    justify-content: center !important;
    align-items: center !important;
}
.max-w-screen-sm {
    max-width: 480px !important;
}
.mx-auto {
    margin-bottom: 0 !important;
    margin-top: 0 !important;
}
.hero {
    width: 100rem;
    background-color: rgb(159, 125, 191);
    height: 8rem;
    border-radius: 20px;
    margin-bottom: 25px;
    object-fit: cover;
    box-shadow: 5px 5px 12px #b7947e;
}

.futurecomponent .icon {
    width: 6rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
}
.futurecomponent .icon img {
    object-fit: fill;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: 2px solid;
}
.listCom {
    border-radius: 10px;
}

.verCampaign {
    border-radius: 10px;
    padding: 0px;
}
.verCampaign img {
    border-radius: 10px;
    width: 40%;
    width: 200px;
    margin-right: 15px;
}

.footerRaound{
  box-shadow: 5px 5px 12px #b7947e;;
}
